a {
  color: white;
}
a:link {
  text-decoration: none;
  color: white;
}
.container-fluid {
  margin-bottom: 30px;
}
.btn-outline-primary {
  color: #007bff !important;
}
a:hover {
  color: white !important;
}